<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tack.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @tack.detail %>
</p>

<%= link_to 'Edit', edit_tack_path(@tack) %> |
<%= link_to 'Back', tacks_path %>
